---
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️"
      include: "scope"
    groups:
      npm-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️"
      include: "scope"
    groups:
      symfony:
        patterns:
          - "symfony/*"
      doctrine:
        patterns:
          - "doctrine/*"
      scheb:
        patterns:
          - "scheb/*"
      sonata:
        patterns:
          - "sonata-project/*"
      twig:
        patterns:
          - "twig/*"
      php-dev-tools:
        patterns:
          - "friendsofphp/*"
          - "vimeo/psalm"
          - "psalm/*"
          - "rector/*"
      behat:
        patterns:
          - "behat/*"
          - "friends-of-behat/*"
          - "dvdoug/behat-code-coverage"
      php-other:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "⬆️"
      include: "scope"
    groups:
      github-actions:
        patterns:
          - "*"
