security:
    enable_authenticator_manager: true

    # https://symfony.com/doc/current/security.html#c-hashing-passwords
    password_hashers:
        App\Entity\User:
            algorithm: sodium
        legacy:
            id: 'App\Security\Encoder\LegacyPasswordHasher'

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # Custom UserProvider to allow login via email and localpart (without domain)
        user:
            id: App\Security\UserProvider

    role_hierarchy:
        # User
        ROLE_USERLI_ADMIN_USER_READER:
            - ROLE_USERLI_ADMIN_USER_LIST
            - ROLE_USERLI_ADMIN_USER_VIEW
        ROLE_USERLI_ADMIN_USER_EDITOR:
            - ROLE_USERLI_ADMIN_USER_CREATE
            - ROLE_USERLI_ADMIN_USER_EDIT
        ROLE_USERLI_ADMIN_USER_ADMIN:
            - ROLE_USERLI_ADMIN_USER_LIST
            - ROLE_USERLI_ADMIN_USER_VIEW
            - ROLE_USERLI_ADMIN_USER_CREATE
            - ROLE_USERLI_ADMIN_USER_EDIT
            - ROLE_USERLI_ADMIN_USER_DELETE

        # Alias
        ROLE_USERLI_ADMIN_ALIAS_READER:
            - ROLE_USERLI_ADMIN_ALIAS_LIST
            - ROLE_USERLI_ADMIN_ALIAS_VIEW
        ROLE_USERLI_ADMIN_ALIAS_EDITOR:
            - ROLE_USERLI_ADMIN_ALIAS_CREATE
            - ROLE_USERLI_ADMIN_ALIAS_EDIT
        ROLE_USERLI_ADMIN_ALIAS_ADMIN:
            - ROLE_USERLI_ADMIN_ALIAS_LIST
            - ROLE_USERLI_ADMIN_ALIAS_VIEW
            - ROLE_USERLI_ADMIN_ALIAS_CREATE
            - ROLE_USERLI_ADMIN_ALIAS_EDIT
            - ROLE_USERLI_ADMIN_ALIAS_DELETE

        # Domain
        ROLE_USERLI_ADMIN_DOMAIN_READER:
            - ROLE_USERLI_ADMIN_DOMAIN_LIST
            - ROLE_USERLI_ADMIN_DOMAIN_VIEW
        ROLE_USERLI_ADMIN_DOMAIN_EDITOR:
            - ROLE_USERLI_ADMIN_DOMAIN_CREATE
            - ROLE_USERLI_ADMIN_DOMAIN_EDIT
        ROLE_USERLI_ADMIN_DOMAIN_ADMIN:
            - ROLE_USERLI_ADMIN_DOMAIN_ALL

        # Voucher
        ROLE_USERLI_ADMIN_VOUCHER_READER:
            - ROLE_USERLI_ADMIN_VOUCHER_LIST
            - ROLE_USERLI_ADMIN_VOUCHER_VIEW
        ROLE_USERLI_ADMIN_VOUCHER_EDITOR:
            - ROLE_USERLI_ADMIN_VOUCHER_CREATE
            - ROLE_USERLI_ADMIN_VOUCHER_EDIT
        ROLE_USERLI_ADMIN_VOUCHER_ADMIN:
            - ROLE_USERLI_ADMIN_VOUCHER_ALL

        # Reserved Name
        ROLE_USERLI_ADMIN_RESERVEDNAME_READER:
            - ROLE_USERLI_ADMIN_RESERVEDNAME_LIST
            - ROLE_USERLI_ADMIN_RESERVEDNAME_VIEW
        ROLE_USERLI_ADMIN_RESERVEDNAME_EDITOR:
            - ROLE_USERLI_ADMIN_RESERVEDNAME_CREATE
            - ROLE_USERLI_ADMIN_RESERVEDNAME_EDIT
        ROLE_USERLI_ADMIN_RESERVEDNAME_ADMIN:
            - ROLE_USERLI_ADMIN_RESERVEDNAME_ALL

        # Spam account is always suspicious
        ROLE_SPAM:
            - ROLE_SUSPICIOUS

        ROLE_PERMANENT:
            - ROLE_USER
        ROLE_MULTIPLIER:
            - ROLE_USER
        ROLE_DOMAIN_ADMIN:
            - ROLE_PERMANENT
            - ROLE_MULTIPLIER
            - ROLE_SONATA_ADMIN
            - ROLE_USERLI_ADMIN_USER_ADMIN
            - ROLE_USERLI_ADMIN_ALIAS_ADMIN
        ROLE_ADMIN:
            - ROLE_DOMAIN_ADMIN
            - ROLE_USERLI_ADMIN_DOMAIN_ADMIN
            - ROLE_USERLI_ADMIN_VOUCHER_ADMIN
            - ROLE_USERLI_ADMIN_RESERVEDNAME_ADMIN
        ROLE_SUPER_ADMIN:
            - ROLE_ADMIN
            - ROLE_ALLOWED_TO_SWITCH

    access_decision_manager:
        strategy: unanimous

    firewalls:
        dev:
            pattern: ^/(_(profiler|error|wdt)|css|images|js)/
            security: false
        default:
            pattern: ^/
            user_checker: App\Security\UserChecker
            form_login:
                enable_csrf: true
                require_previous_session: false
            logout:
                invalidate_session: false
            two_factor:
                auth_form_path: 2fa_login
                check_path: 2fa_login_check
                enable_csrf: true

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
      - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/logout, roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: "^/[a-z]{2}/init", roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: "^/[a-z]{2}/login", roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: "^/[a-z]{2}/logout", roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: "^/[a-z]{2}/recovery", roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: "^/[a-z]{2}/register", roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: "^/[a-z]{2}/$", roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
      - { path: ^/2fa, roles: IS_AUTHENTICATED_2FA_IN_PROGRESS }
      - { path: "^/[a-z]{2}/2fa", roles: IS_AUTHENTICATED_2FA_IN_PROGRESS }
      - { path: ^/admin, roles: ROLE_DOMAIN_ADMIN }
      - { path: "^/[a-z]{2}/voucher", roles: ROLE_USER, allow_if: "!is_granted('ROLE_SUSPICIOUS')"}
      - { path: "^/[a-z]{2}/alias", roles: ROLE_USER, allow_if: "!is_granted('ROLE_SPAM')"}
      - { path: "^/[a-z]{2}/account", roles: ROLE_USER, allow_if: "!is_granted('ROLE_SPAM')"}
      - { path: ^/, roles: ROLE_USER }
