sonata_admin:
    title: Userli
    title_logo: 'build/images/logo_small.png'
    show_mosaic_button: false
    dashboard:
        blocks:
          - position: left
            type: sonata.admin.block.admin_list
          - position: right
            type: userli.admin.block.statistics
    templates:
        layout: 'Admin/standard_layout.html.twig'
        user_block: 'Admin/user_block.html.twig'
    security:
        handler: sonata.admin.security.handler.role

sonata_block:
    http_cache: false
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]
        userli.admin.block.statistics: ~
