[submodule "ansible/roles/geerlingguy.composer"]
	path = ansible/roles/geerlingguy.composer
	url = https://github.com/geerlingguy/ansible-role-composer.git
[submodule "ansible/roles/geerlingguy.nodejs"]
	path = ansible/roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
[submodule "ansible/roles/oefenweb.yarn"]
	path = ansible/roles/oefenweb.yarn
	url = https://github.com/Oefenweb/ansible-yarn.git
[submodule "ansible/roles/andyceo.phpcsfixer"]
	path = ansible/roles/andyceo.phpcsfixer
	url = https://github.com/andyceo/ansible-role-php-cs-fixer.git
[submodule "ansible/roles/systemli.dovecot"]
	path = ansible/roles/systemli.dovecot
	url = https://github.com/systemli/ansible-role-dovecot.git
[submodule "hugo/themes/docdock"]
	path = hugo/themes/docdock
	url = https://github.com/vjeantet/hugo-theme-docdock.git
[submodule "ansible/roles/geerlingguy.php"]
	path = ansible/roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "ansible/roles/weareinteractive.apt"]
	path = ansible/roles/weareinteractive.apt
	url = https://github.com/weareinteractive/ansible-apt.git
[submodule "ansible/roles/mariadb"]
	path = ansible/roles/mariadb
	url = https://github.com/systemli/ansible-role-mariadb.git
