bin/*
!bin/console
!bin/githup-release.sh
!bin/mailcrypt-encrypt-maildir
!bin/user-accounts
!bin/user-aliases
!bin/user-vouchers
build/
.idea/
node_modules
public/build
public/components/*
.vagrant/
ansible/playbook.retry
translations/
.php_cs.cache

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
