bin/*
!bin/console
!bin/githup-release.sh
!bin/mailcrypt-encrypt-maildir
!bin/phpunit
!bin/user-accounts
!bin/user-aliases
!bin/user-vouchers
build/
config/services_dev.yaml
config/services_prod.yaml
config/services_test.yaml
node_modules
public/build
public/components/*
.vagrant/
ansible/playbook.retry
translations/
.php_cs.cache

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

hugo/public/
