app/bootstrap.php.cache
app/config/parameters.yml
app/data.sqlite
app/logs/*
bin/*
!bin/user-accounts
!bin/user-vouchers
!/bin/console
node_modules
vagrant/.vagrant/
vagrant/ansible/playbook.retry
var/bootstrap.php.cache
var/logs
vendor/*
web/build
web/bundles
web/components/*
translations/
.php_cs.cache
