default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FeatureContext: ~

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: "tests/bootstrap.php"
            kernel:
                class: ~
                path: ~
                environment: ~
                debug: ~
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
