{% extends 'base_page.html.twig' %}

{% block page_title %}{{ "closed.headline"|trans }}{% endblock %}

{% block page_subtitle %}{{ "closed.lead"|trans }}{% endblock %}

{% block page_content %}
    <div class="max-w-3xl mx-auto">
        <div class="prose prose-blue max-w-none">
            {{ "closed.text"|trans|safe_html }}
        </div>
    </div>
{% endblock %}
