<div class="alert alert-info">
    <p class="alert-header"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i></p>
    <p class="alert-header"><strong>{{ "account.twofactor.lead"|trans }}</strong></p>
    <hr />
    <ul>
        <li>{{ "account.twofactor.desc-login"|trans({'%app_url%': app_url}) }}</li>
        <li>{{ "account.twofactor.desc-lost"|trans({'%app_url%': app_url})|raw }}</li>
    </ul>
</div>
