<div class="alert alert-info">
    <ul>
        <li><strong>{{ "recovery-token.created-info"|trans }}</strong></li>
        <hr />
        <li>{{ "recovery-token.displayed-once"|trans }}</li>
    </ul>
</div>
