{% extends 'base.html.twig' %}

{% block container %}
    <div id="root">
    </div>

    <!-- Include the compiled script-->
    <script type="text/javascript" src="{{ asset('build/admin.js') }}"></script>
{% endblock %}
