{% block user_block %}
    <li role="presentation" class="dropdown-header">Mail</li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('account') }}">Return to Account</a>
    </li>
    <li role="presentation">
        <a role="menuitem" tabindex="-1" href="{{ path('logout') }}">Logout</a>
    </li>
{% endblock %}
