{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('index') }}">Start</a></li>
        <li class="active">{{ "start.account-settings"|trans }}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'Start/change_password.html.twig' %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'Start/recovery_token.html.twig' %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            {% include 'Start/delete_account.html.twig' %}
        </div>
    </div>
{%  endblock %}
