<h3>{{ "index.delete-headline"|trans }}</h3>
<p>{{ "index.delete-description"|trans({'%project_name%': project_name})|raw }}</p>
<p><a class="btn btn-danger btn-sm" href="{{ url('user_delete') }}">{{ "index.delete-button"|trans }}</a></p>
