{% extends 'base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'Form/fields.html.twig' %}
{% endif %}
{% if password_form is defined %}
    {% form_theme password_form 'Form/fields.html.twig' %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <h2>{{ "index.title"|trans }}</h2>

            <p class="lead">{{ "start.intro"|trans }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% include 'Start/vouchers.html.twig' %}
            <hr />
            <p class="text-muted"><small>{{ "index.logged_in_as"|trans({'%user%': user.email}) }} </small></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% include 'Start/aliases.html.twig' %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% include 'Start/change_password.html.twig' %}
            <hr />
            {% include 'Start/delete_account.html.twig' %}
        </div>
    </div>

{% endblock %}
