{% extends 'base_page.html.twig' %}

{% block title %}{{ setting('app_name') }} - {{ 'settings.maintenance.title'|trans }}{% endblock %}
{% block page_title %}{{ 'settings.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'settings.maintenance.subtitle'|trans }}{% endblock %}

{% block page_content %}
    <div class="max-w-5xl mx-auto">
        {% include 'Settings/_navigation.html.twig' with { current_section: 'maintenance' } %}

        <div class="grid gap-8 md:grid-cols-2">
            {% include 'Settings/_maintenance_card.html.twig' with {
                icon: 'heroicons:bell-slash',
                title_key: 'settings.maintenance.pruneUserNotifications.title',
                description_key: 'settings.maintenance.pruneUserNotifications.description',
                button_key: 'settings.maintenance.pruneUserNotifications.button',
                task: 'prune_user_notifications',
                csrf_token_id: 'maintenance_prune_user_notifications',
            } %}

            {% include 'Settings/_maintenance_card.html.twig' with {
                icon: 'heroicons:arrow-path-rounded-square',
                title_key: 'settings.maintenance.pruneWebhookDeliveries.title',
                description_key: 'settings.maintenance.pruneWebhookDeliveries.description',
                button_key: 'settings.maintenance.pruneWebhookDeliveries.button',
                task: 'prune_webhook_deliveries',
                csrf_token_id: 'maintenance_prune_webhook_deliveries',
            } %}

            {% include 'Settings/_maintenance_card.html.twig' with {
                icon: 'heroicons:user-minus',
                title_key: 'settings.maintenance.removeInactiveUsers.title',
                description_key: 'settings.maintenance.removeInactiveUsers.description',
                button_key: 'settings.maintenance.removeInactiveUsers.button',
                task: 'remove_inactive_users',
                csrf_token_id: 'maintenance_remove_inactive_users',
            } %}

            {% include 'Settings/_maintenance_card.html.twig' with {
                icon: 'heroicons:ticket',
                title_key: 'settings.maintenance.unlinkRedeemedVouchers.title',
                description_key: 'settings.maintenance.unlinkRedeemedVouchers.description',
                button_key: 'settings.maintenance.unlinkRedeemedVouchers.button',
                task: 'unlink_redeemed_vouchers',
                csrf_token_id: 'maintenance_unlink_redeemed_vouchers',
            } %}
        </div>
    </div>
{% endblock %}
