App\Entity\User:
  type: entity
  repositoryClass: App\Repository\UserRepository
  table: virtual_users
  id:
    id:
      type: integer
      generator: { strategy: AUTO }
  fields:
    creationTime:
      #name: creation_time
      type: datetime
      nullable: false
    updatedTime:
      #name: updated_time
      type: datetime
      nullable: false
    email:
      type: string
      nullable: false
      unique: true
    password:
      type: string
      nullable: false
    roles:
      type: array
    quota:
      type: integer
      unsigned: true
      nullable: true
    deleted:
      type: boolean
      options:
        default: 0
    lastLoginTime:
      column: lastlogin
      type: datetime
      nullable: true
    passwordVersion:
      type: integer

  manyToOne:
    domain:
      targetEntity: Domain
      mappedBy: domain_id
      joinColumn:
        name: domain_id
        referencedColumnName: id
  oneToOne:
    invitationVoucher:
      targetEntity: Voucher
      inversedBy: invitedUser
      joinColumn:
        name: invitation_voucher_id
        referencedColumnName: id
  indexes:
    email_idx:
      columns: ["email"]
  lifecycleCallbacks:
    prePersist: [updateCreationTime, updateUpdatedTime]
    preUpdate: [updateUpdatedTime]
