{% set current_section = 'maintenance' %}
{% extends 'Admin/base_admin.html.twig' %}

{% block title %}{{ setting('app_name') }} - {{ 'admin.maintenance.title'|trans }}{% endblock %}

{% block admin_content %}
    <div class="bg-white dark:bg-gray-800 rounded-xl border border-gray-200 dark:border-gray-700 shadow-sm">
        <div class="p-6 sm:p-8">
            {% include 'Admin/_section_header.html.twig' with {
                icon: 'heroicons:building-library',
                icon_color: 'amber',
                heading_key: 'admin.maintenance.title',
                description_key: 'admin.maintenance.description',
            } %}

            <div class="grid gap-4 sm:grid-cols-2">
                {% include 'Admin/_maintenance_card.html.twig' with {
                    icon: 'heroicons:bell-slash',
                    title_key: 'admin.maintenance.pruneUserNotifications.title',
                    description_key: 'admin.maintenance.pruneUserNotifications.description',
                    button_key: 'admin.maintenance.pruneUserNotifications.button',
                    task: 'prune_user_notifications',
                    csrf_token_id: 'maintenance_prune_user_notifications',
                } %}

                {% include 'Admin/_maintenance_card.html.twig' with {
                    icon: 'heroicons:arrow-path-rounded-square',
                    title_key: 'admin.maintenance.pruneWebhookDeliveries.title',
                    description_key: 'admin.maintenance.pruneWebhookDeliveries.description',
                    button_key: 'admin.maintenance.pruneWebhookDeliveries.button',
                    task: 'prune_webhook_deliveries',
                    csrf_token_id: 'maintenance_prune_webhook_deliveries',
                } %}

                {% include 'Admin/_maintenance_card.html.twig' with {
                    icon: 'heroicons:user-minus',
                    title_key: 'admin.maintenance.removeInactiveUsers.title',
                    description_key: 'admin.maintenance.removeInactiveUsers.description',
                    button_key: 'admin.maintenance.removeInactiveUsers.button',
                    task: 'remove_inactive_users',
                    csrf_token_id: 'maintenance_remove_inactive_users',
                } %}

                {% include 'Admin/_maintenance_card.html.twig' with {
                    icon: 'heroicons:ticket',
                    title_key: 'admin.maintenance.unlinkRedeemedVouchers.title',
                    description_key: 'admin.maintenance.unlinkRedeemedVouchers.description',
                    button_key: 'admin.maintenance.unlinkRedeemedVouchers.button',
                    task: 'unlink_redeemed_vouchers',
                    csrf_token_id: 'maintenance_unlink_redeemed_vouchers',
                } %}

                {% include 'Admin/_maintenance_card.html.twig' with {
                    icon: 'heroicons:trash',
                    title_key: 'admin.maintenance.removeUnredeemedVouchers.title',
                    description_key: 'admin.maintenance.removeUnredeemedVouchers.description',
                    button_key: 'admin.maintenance.removeUnredeemedVouchers.button',
                    task: 'remove_unredeemed_vouchers',
                    csrf_token_id: 'maintenance_remove_unredeemed_vouchers',
                } %}
            </div>
        </div>
    </div>
{% endblock %}
