name: Integration

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    name: PHPUnit & Behat
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          extensions: openssl, sodium
          coverage: pcov
          tools: composer

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "yarn"

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-scripts

      - name: Check Code Style
        run: composer cs-check

      - name: Prepare Database Schema
        run: bin/console doctrine:schema:create --env=test

      - name: Prepare Assets
        run: |
          yarn install --frozen-lockfile
          yarn encore dev

      - name: PHPUnit
        run: |
          bin/phpunit

      - name: Behat
        run: |
          bin/console cache:clear --env=test
          bin/behat --format progress

      - name: SonarCloud Scan
        uses: sonarsource/sonarqube-scan-action@v7.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docker:
    runs-on: ubuntu-24.04
    name: Build & Push Docker Image
    if: github.actor != 'dependabot[bot]'
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: ${{ github.ref == 'refs/heads/main' && 'linux/amd64,linux/arm64' || 'linux/amd64' }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          file: docker/userli/Dockerfile
          platforms: ${{ github.ref == 'refs/heads/main' && 'linux/amd64,linux/arm64' || 'linux/amd64' }}
          tags: systemli/userli:latest
          cache-from: |
            type=registry,ref=systemli/userli:buildcache
            type=gha
          cache-to: |
            type=registry,ref=systemli/userli:buildcache
            type=gha,mode=max
          build-args: |
            BUILDKIT_INLINE_CACHE=1
