name: Psalm Static analysis

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: "8.4"
          extensions: ctype, iconv, openssl, sodium
          coverage: none
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-scripts

      - name: Run Psalm with SARIF output
        run: bin/psalm --output-format=sarif --no-cache --report-show-info=false --report=psalm.sarif
        continue-on-error: true

      - name: Upload Security Analysis results to GitHub
        uses: github/codeql-action/upload-sarif@89a39a4e59826350b863aa6b6252a07ad50cf83e # v4
        if: always()
        with:
          sarif_file: psalm.sarif
