name: Security

on:
  pull_request:
  push:
  schedule:
    - cron:  '0 8 * * 1'

permissions: read-all

jobs:
  security-check:
    runs-on: ubuntu-latest
    name: PHP Security Checker
    steps:
      - uses: actions/checkout@v3
      - uses: symfonycorp/security-checker-action@v4
