name: Security

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 8 * * 1"

jobs:
  security-check:
    runs-on: ubuntu-24.04
    name: PHP Security Checker
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Symfony Security Check
        uses: symfonycorp/security-checker-action@258311ef7ac571f1310780ef3d79fc5abef642b5 # v5
